aside {
     position: fixed;
     top: 15vh;
     left: 2%;
     width: 20%;
     height: 80%;
     background-color: #000000;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
     border-radius: 10px;
     list-style: none;
     font-family: "Fira Sans", serif;
     font-weight: 600;
     font-style: normal;
}

.menu {
     position: relative;
     margin-top: 20px;
     display: flex;
     justify-content: space-around;
     cursor: pointer;
     align-items: center;
     width: 100%;
     padding: 1vh 0;
     z-index: 1;
     color: white;
     text-decoration: none;
     transition: background-color 0.3s ease, color 0.3s ease;
}

.menu p {
     width: 50%;
}

.menu:hover {
     color: rgb(255, 255, 255);
}

.menu.active {
     background-color: white;
     /* Active background color */
     color: black;
     /* Active text color */
     border-radius: 10px;
}

.i {
     font-size: 30px;
}

.i:hover {
     color: #000000;
     background-color: white;
}